<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--add name ="Account" connectionString ="Data Source=172.20.17.1;Initial Catalog=AIS20140715144316;User ID=sa;Password=123456;" providerName ="System.Data.SqlClient"/>-->
    <add name="Account"  connectionString="Data Source=192.168.1.12;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <add name="Wuhan"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <add name="Yichang"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <add name="Xiangyang"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <add name="Jingzhou"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
