<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sysConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\\Users\\Administrator\\Documents\\Visual Studio 2010\\Projects\\ImportWizard\\ImportWizard\\bin\\Debug\\asdf.mdb"/>
    <add name ="Account" connectionString ="Data Source=.;Initial Catalog=AIS20150311125803;User ID=sa;Password=123456;" providerName ="System.Data.SqlClient"/>
    <add name ="Wuhan" connectionString ="Data Source=.;Initial Catalog=AIS20150311125803;User ID=sa;Password=123456;" providerName ="System.Data.SqlClient"/>
    <add name ="Yichang" connectionString ="Data Source=.;Initial Catalog=AIS20150311125803;User ID=sa;Password=123456;" providerName ="System.Data.SqlClient"/>
    <add name ="Xiangyang" connectionString ="Data Source=.;Initial Catalog=AIS20150311125803;User ID=sa;Password=123456;" providerName ="System.Data.SqlClient"/>
    <add name ="jingzhou" connectionString ="Data Source=.;Initial Catalog=AIS20150311125803;User ID=sa;Password=123456;" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
