<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.Dev.Account"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.Dev.Wuhan"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.Dev.Yichang"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.Dev.Xiangyang"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.Dev.Jingzhou"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.RunTime.Account"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.RunTime.Wuhan"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.RunTime.Yichang"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.RunTime.Xiangyang"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=.;Initial Catalog=AIS20120316180005;-->
    <add name="Ferrero.RunTime.Jingzhou"  connectionString="Data Source=.;Initial Catalog=AIS20120316180005;User ID=sa;Password=qaz123;"  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
